body {
    margin: 0;
    background: #1C1C1C;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box {
    max-width: 500px;
    width: 100%;
    display: block;
    background: #1F2937;
    padding: 1% 5% 3%;
}
@media (max-width: 500px) {
  .main-box{
    height: 100%;
  }

  .tables {
    display: flex;
    flex-wrap: wrap-reverse;
  }
}
#white-header {
    padding-top: 52px;
    color: white;
    font-size: 40px;
    margin: 0;
}
#green-header {
    color: #4ADF86;
    font-size: 40px;
    margin: 0;
}
.message {
    color: #D5D4D8;
    font-size: 20px;
    margin: 5px 0 0 0;
    padding: 0;
}

.explanations {
    color: #D5D4D8;
    font-size: 15px;
    margin: 8px 0 0 0;
    padding-left: 10px;
}

#generate-button {
    border: none;
    background: #4ADF86;
    width: 191px;
    height: 42px;
    color: white;
    border-radius: 5px;
    font-size: 16;
    margin-top: 2rem;
}

.tables {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #2F3E53;
    margin-top: 35px;
    margin-bottom: 35px;
}

.passwords {
    width: 230px;
    height: 25px;
    border: none;
    border-radius: 6px;
    background: #273549;
    margin-top: 35px;
    color: #55F991;
    text-align: center;
    padding-top: 10px;
}

#password-length {
    border: none;
    background: white;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 50px;
}

.toggles {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0.5rem;
}

.switch {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 50px;
  height: 24px;
  margin-top: 5px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4ADF86;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4ADF86;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}